.estilizacao {
    color: white;
    font-size: 40px;
    padding: 1px;
    border: 5px solid rgb(111, 0, 255);
}

.cabecalho-moda {
    background-color: #BB86FC;
}

.cabecalho-casa{
    background-color: #00C4B4;
}

.itns-tabela {
    background-color: #424250;
}


